* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080809;
  background: linear-gradient(rgb(16, 12, 21), rgb(51, 1, 98));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

h1 {
  color: rgb(248, 248, 244);
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgba(186, 186, 182, 0.851);
}

.container {
  width: 80%;
  height: 600px;
  padding: 20px;
  color: white;
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.table {
  background: rgba(14, 16, 2, 0.841);
  width: 100%;
}

.table-section {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#book-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  word-wrap: break-word;
  background: #fff;
  color: #000;
}

#book-list > section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.btn {
  background: rgb(24, 39, 244);
  border: none;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 20px;
  cursor: pointer;
}


.book-entry {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}
